* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;

}

.page-title-span {
  margin-left: 10px;
}

.button-right-icon {
  margin-left: 10px;
}

/*Login Section */

.login-cover {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginProgress {
  display: none;
}

#loginError {
  display: none;
}

.tablecontainer{
 /*position: absolute;
 z-index: 15;
 top: 50%;
 left: 50%;
 margin: -250px 0 0 -400px;
 */
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}


.mdl-layout__content {
    padding: 80px;
}